# Project exclude paths
/venv/
__pycache__/algoritmos.cpython-36.pyc
__pycache__/arista.cpython-36.pyc
__pycache__/grafo.cpython-36.pyc
__pycache__/layout.cpython-36.pyc
__pycache__/nodo.cpython-36.pyc
__pycache__/quadtree.cpython-36.pyc
__pycache__/ui.cpython-36.pyc
__pycache__/util.cpython-36.pyc
__pycache__/edge.cpython-36.pyc
__pycache__/graph.cpython-36.pyc
__pycache__/names.cpython-36.pyc
__pycache__/node.cpython-36.pyc
.DS_Store
